/* CSSファイルに関しては同じフォルダ内に各自で作成して
    背景色、文字色の指定と中央寄せを行ってください。 */
body {
    background-color: gray;
    /* margin: 0 auto; */
}

wrapper {
    width: 400px;
    /* margin: 0 auto; */
    text-align: center;
    color: white;
}

p {
    color: white;
    padding-top: 50px;
}

h1 {
    border-bottom: solid;
    padding-top: 150px;
    font-family: serif;
}

form {
    padding-top:40px;
}
