/* CSSファイルに関しては同じフォルダ内に各自で作成して
    背景色、文字色の指定と中央寄せを行ってください。 */
body {
    background-color: gray;
}

.wrapper {
    text-align: center;
    color: white;
    font-family: serif;
}

.index {
    padding-top:40px;
}

.top {
    padding-top:40px;
}

h1 {
    border-bottom: solid;
    padding-top: 150px;
}

.button {
    border-radius: 5px;
}

.radio_button {
    margin-right: -3px;
}